<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>email</title>
  </head>
  <body class="bg-gray-600">
    <nav class="fixed w-full bg-transparent  px-20 py-4  justify-between m-1">
           
            <ul class="flex space-x-6 justify-end text-teal-1000 ">
                <li class="mx-2 cursor-pointer text-white hover:text-cyan-500"><a href="{{ url_for('index') }}">Home</a>
                </li>
                
            </ul>
        </nav>
    <div class="flex w-full min-h-screen justify-center items-center">
      <div class="flex flex-col space-y-6 bg-cyan-600 w-full max-w-4xl p-8
      rounded-xl shadow-black" >
      <div>
        <h1 class="font-bold text-3xl">Inform</h1>
        <p class="pt-2 text-cyan-100 text-sm">
          Inform to the users that you are predicting and by sending email to
          them...
        </p>
      </div>

      <div class="bg-white rounded-xl shadow-lg p-8 text-gray-600">
        <form  method="post"  class="flex flex-col spacey-4">
         

          
          <div>
            <label for="Recepient email " class="text-sm">Recepient email</label>

            <input
              type="text"
              placeholder="Receiver email address"
              name="receiver_email"
              class="ring-1 ring-gray-700 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-400"
            />
          </div><br>
          <div>
            <label   for="Message">Message</label>
            <textarea
            
              
              placeholder="Message"
              name="message"
              class="ring-1 ring-gray-700 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-teal-400">
            </textarea>
            


          </div>
          <div class="pl-40 button py-4">
        <button 
          class="align-middle bg-cyan-400 px-6 h-10 hover:bg-cyan-700 hover:text-white border-2 rounded-3xl"
        >
         Send
        </button>
          
        </form>
      </div>
    </div>
  </body>
</html>
