<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sunnyday</title>

    <style>
      /* Custom CSS styles */
      .btn {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #1a202c;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #4a5568;
      }
    </style>
  </head>
  <body class="relative bg-gradient-to-r from-blue-500 to-green-500">
    <nav class="flex w-full bg-transparent px-20 py-4 justify-between">
      <a href="{{ url_for('home') }}"
        ><h1 class="text-2xl font-medium text-white">Rainfall Prediction</h1></a
      >
      <ul class="flex space-x-6 justify-end text-teal-1000">
        <li class="mx-2 cursor-pointer text-white hover:text-cyan-500">
          <a href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="mx-2 cursor-pointer text-white hover:text-cyan-500">
          <a href="{{ url_for('about') }}">About</a>
        </li>
        <li class="mx-2 cursor-pointer text-white hover:text-cyan-500">
          <a href="{{ url_for('developer') }}">Developers</a>
        </li>
        {% if 'email' not in session %}
        <button
          class="login-button mx-2 cursor-pointer text-white bg-cyan-500 px-4 py-1 rounded-2xl hover:text-white hover:bg-cyan-700"
        >
          <a href="{{ url_for('login')}}">Login</a>
        </button>
        {% else %}

        <button
          class="logout-button mx-2 cursor-pointer text-white bg-cyan-500 px-4 py-1 rounded-2xl hover:text-white hover:bg-cyan-700"
        >
          <a href="{{ url_for('logout')}}">Logout</a>
        </button>

        {% endif %}
      </ul>
    </nav>
    <div class="text-white px-10 mt-20 max-w-xl">
      <h1
        class="animate-pulse text-yellow-300 text-5xl font-semibold leading-normal mb-8"
      >
        There will<br />be no rain!!!
      </h1>
      <p class="text-lg mb-8">
        Enjoy the sunshine and make the most of this beautiful day. If you're
        looking for things to do, why not try one of these activities:
      </p>
      <ul class="list-disc list-inside mb-8">
        <li>Go for a hike</li>
        <li>Have a picnic</li>
        <li>Go for a bike ride</li>
        <li>Visit the beach</li>
        <li>Play outdoor sports</li>
      </ul>
      <a
        target="_blank"
        href="https://skyaboveus.com/misc/Fun-Things-to-Do-When-Its-Sunny-Outside-with-Boyfriend-Husband-Wife-Girlfriend-Alone-Broke-Children-Kids"
        class="btn"
        >Find More Activities</a
      >
    </div>
    <div class="py-10">
      <img
        src="../static/images/sunny.jpg"
        class="w-full xl:w-1/2 xl:absolute bottom-0 right-20"
      />
    </div>
  </body>
</html>
